################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Secrets.py
/__pycache__/Bot.cpython-36.pyc
/__pycache__
/.vs/IoT_Monitor/v15
/.vs
